@{
    ViewData["Title"] = "Detail Page";
}

<title>@Model.Title</title>

<body>
<div class="movie-card">
    <div class="movie-content">
        <img src="https://image.tmdb.org/t/p/w500/@Model.PosterPath" alt="Movie Poster" class="movie-poster">
        <div class="movie-info">
            <h1 class="movie-title">@Model.Title</h1>
            <div class="movie-meta d-flex align-items-center">
                <span>@Model.ReleaseDate</span>
                <span class="movie-rating">@Model.VoteAverage</span>
            </div>
            <h4>About</h4>
            <p class="movie-overview">@Model.Overview</p>
        </div>
    </div>
</div>
</body>